//font
$primaryFont: 'Poppins', sans-serif;
$fontSize: 12px;

//colors
$primaryColor:#2d343c;
$primaryColorDark: #22272b;
$secondaryColor: #ffc000;
$secondaryColorDark: #ffb000;
$backgroundColor: #e3e3e3;
$whiteColor: #FFF;
$blackColor: #000;

.book {
  
  border: 1px solid $primaryColor;
  border-radius: 16px;
  padding: 12px;
  margin:12px;

  a {
    text-decoration: none;
  }

  &_title {
    color: $secondaryColorDark;

    &:hover {
      color: $secondaryColor;
    }
  }

  &_author {
    color: $blackColor;

    &:hover {
      color: $primaryColorDark;
    }
  } 

  &_image {
    &:hover {
      box-shadow: 0 0 12px $blackColor;
    }
  }

  &_text {
    color: $blackColor;
  }
}

.bookDetails {

  border-radius: 16px;
  background-color: $primaryColorDark;
  padding: 16px;

  img {
    border-radius: 16px;
  }

  &_authorSection {
    background-color: $primaryColor;
    border-radius: 16px;
    
    padding: 12px;
    color: $whiteColor;

    a{
      color: $whiteColor;
      text-decoration: none;
    }
  }

  &_infoSection {

    &Single{
      background-color: $primaryColor;
      border-radius: 16px;
      padding: 12px;
      color: $whiteColor;

      h2{
        color: $secondaryColorDark;
      }
    }
  }

}

.tag {
  background-color: $secondaryColorDark;
  border-radius: 8px;

  &:hover{
    background-color: $secondaryColor;
  }

  a {
    color: $primaryColorDark;
  }
}

.links {
  color: $whiteColor;

  overflow-wrap: break-word;
  word-wrap: break-word;

  &:hover{
    color: $secondaryColor;
    text-decoration: none;
  }
}